* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f5f5f5;
  padding-top: 46px;
}

.header {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #0050B3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.header-block {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.m-menu {
  border: none;
  width: 32px;
  height: 32px;
  background-color: transparent;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 5px;
  outline: none;
}

.m-menu .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.search-input {
  font-size: 14px;
  line-height: 22px;
  padding: 5px 30px 5px 12px;
  width: 100%;
  width: 336px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  background-image: url(../img/seacrh-icon.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-panel {
  margin-left: 12px;
  display: flex;
  align-items: center;
}

.navigation-link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  margin-left: 12px;
}

.navigation-link::before {
  content: '';
  width: 1px;
  height: 16px;
  background: #003A8C;
  margin-right: 12px;
}

.navigation-link:last-child::after {
  content: '';
  width: 1px;
  height: 16px;
  background: #003A8C;
  margin-left: 12px;
}

.user {
  display: flex;
  align-items: center;
}

.user-avatar {
  margin-right: 8px;
}

.user-name {
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  font-weight: 600;
}

.icons-panel {
  display: flex;
  align-items: center;
}

.icon-link {
  display: flex;
  align-items: center;
  margin-left: 17px;
}

.header-icon {
  fill: #002766;
}

.header-icon:hover {
  fill: #fff;
}

.icon-link:last-child::before {
  content: '';
  width: 1px;
  height: 16px;
  background: #003A8C;
  margin-right: 12px;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.menu-sidebar {
  margin-top: 18px;
  width: 192px;
  margin-right: 12px;
}

.menu-sidebar .user {
  margin-left: 10px;
}

.menu-sidebar .user-avatar {
  width: 24px;
  height: 24px;

}

.menu-sidebar .user-name {
  color: #262626;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}

.nav-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 24px;
}

.nav-title {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  color: #262626;
  padding-left: 10px;
  margin-bottom: 4px;
  margin-top: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
  text-decoration: none;
  color: #595959;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}

.nav-link.action {
  background: #ffffff;
  color: #262626;
}

.nav-text {
  padding-left: 8px;
}

.main-feed {
  margin-top: 18px;
  width: 100%;
  max-width: 588px;
  flex-grow: 1;
}

.create-post {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
}

.create-post-header {
  background-color: #F5F5F5;
  padding: 9px 16px 9px 16px;
}

.create-post-title {
  margin: 0;
  color: #595959;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.create-post-body {
  display: flex;
  align-items: flex-start;
  padding: 16px 16px 24px 16px;
  width: 588px;
}

.create-post-input {
  color: #8C8C8C;
  padding-top: 8px;
  margin-left: 16px;
  width: 100%;
  max-width: 500px;
  /* xz */
  padding: 5px;
}

.create-post-footer {
  display: flex;
  align-items: center;
  padding: 0 16px 16px 16px;
  flex-wrap: wrap;
}

.create-post-footer::before {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #E8E8E8;
  margin-bottom: 16px;
}

.tag {
  display: flex;
  align-items: center;
  background-color: #F5F5F5;
  border-radius: 48px;
  border: none;
  padding: 9px 12px;
  margin-right: 8px;
  cursor: pointer;
}

.button-text {
  color: #595959;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  margin-left: 8px;
}

.post {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 16px 0;
  padding: 16px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.post-header-button {
  background-color: #fff;
  border: none;
}

.post-header .user-avatar {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}

.post-info {
  display: flex;
  flex-wrap: wrap;
}

.post-author {
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  font-weight: 600;
  text-decoration: none;
  color: #0050B3;
}

.post-time {
  color: #8C8C8C;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}

.post-time::after {
  display: inline-block;
  content: '';
  height: 4px;
  width: 4px;
  background-color: #bfbfbf;
  border-radius: 50%;
  margin: 0 6px 0 6px;
  vertical-align: middle;
}

.post-info-time {
  display: flex;
  align-items: center;
}

.post-text {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  font-weight: normal;
  margin-bottom: 16px;
}

.post-text a {
  color: #096dd9;
  text-decoration: none;
}

.post-image {
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  min-width: 100%;
}

.likes {
  display: flex;
  align-items: center;
  margin: 9px 0 9px 0;
}

.likes-counter {
  color: #595959;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  margin-left: 4px;
}

.post-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post-button {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: none;
}

.post-button-text {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  font-weight: 600;
  margin-left: 8px;
}

.post-button-icon {
  fill: #595959;
}

.post-footer::before {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #E8E8E8;
  margin-bottom: 16px;
}

.right-sidebar {
  width: 384px;
}

.stories {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 16px;
  margin-left: 24px;
  padding: 16px 16px 16px 24px;
}

.stories-icon {
  fill: #0050B3
}

.stories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.stories-title {
  margin: 0;
  color: #262626;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.stories-buttons {
  display: flex;
  justify-content: space-between;
}

.story-button-link {
  font-size: 14px;
  line-height: 22px;
  color: #0050B3;
  font-weight: normal;
  text-decoration: none;
}

.story-button-link:first-child::after {
  content: '';
  width: 4px;
  height: 4px;
  background-color: #BFBFBF;
  display: inline-block;
  border-radius: 50%;
  margin: 0 8px;
  vertical-align: middle;
}

.stories-icon {
  vertical-align: sub;
}

.story-item,
.story-item-add {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 16px;
}

.story-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
  border-radius: 50%;
  border: 1px solid #D9D9D9;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  color: #1890FF;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-right: 12px;
}

.story-title {
  color: #0050B3;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  display: block;
}

.story-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #8C8C8C;
}

.figma {
  background-image: url(../img/figma.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1250px) {
  .container {
    justify-content: flex-start;
    width: 95%;
  }
  .right-sidebar {
    display: none;
  }
  .header-block {
    width: 95%;
  }
}
@media (max-width: 960px) {
  .header .user {
    display: none;
  }
  .navigation-panel {
    display: none;
  }
}
@media (max-width: 840px) {
  .menu-sidebar {
    background-color: #f1f1f1;
    position: fixed;
    top: 25px;
    left: 0;
    width: 100%;
    max-width: 250px;
    padding-top: 12px;
    height: 100%;
    padding-left: 2%;
    transform: translateX(-100%);
    transition: transform .2s;
  }
  .menu-sidebar.active {
    transform: translateX(0%);
  }
  .m-menu {
    display: flex;
  }
}

@media (max-width: 760px) {
  .search {
    display: none;
  }
}